body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Light", sans-serif;
}

.container {
    overflow: hidden;
}

.how-to-use__title {
    text-align: center;
}

.how-to-use__items {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.how-to-use__item {
    display: flex;
    margin: 50px;
    width: 25%;
}

p:nth-child(1) {
    color: blue;
    font-size: 20px;
}

p:nth-child(2) {
    font-size: 20px;
    font-weight: 700;
    color: black;
    width: 80%;
}

p:nth-child(3) {
    font-size: 20px;
    width: 90%;
}

.phone {
    margin-top: 30px;
    width: 20%;
}

@media screen and (max-width: 1200px) {
    .how-to-use__item {
        width: 40%;
    }

    p:nth-child(3) {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .how-to-use__item {
        width: 35%;
    }
}

@media screen and (max-width: 900px) {
    .how-to-use__item {
        width: 35%;
    }

    p:nth-child(3) {
        width: 100%;
    }

    .phone {
        width: 35%;
    }
}

@media screen and (max-width: 890px) {
    .how-to-use {
        overflow: scroll;
    }

    .how-to-use__item {
        width: 35%;
    }

    .phone {
        width: 35%;
    }

    p:nth-child(2) {
        display: none;
    }

    p:nth-child(3) {
        width: 90%;
        font-size: 16px;
    }
}

@media screen and (max-width: 700px) {
    .how-to-use__item {
        width: 230px;
    }

    .phone {
        width: 50%;
        margin-left: 50px;
    }

    p:nth-child(3) {
        width: 150%;
        font-size: 13px;
    }
}

@media screen and (max-width: 650px) {
    .how-to-use__item {
        width: 230px;
    }

    .phone {
        width: 50%;
        margin-left: 50px;
    }

    p:nth-child(3) {
        width: 150%;
        font-size: 13px;
    }
}


@media screen and (max-width: 480px) {
    .how-to-use {
        overflow: scroll;
    }

    .how-to-use__item {
        width: 1000px;
    }

    p:nth-child(2) {
        display: none;
    }

    p:nth-child(3) {
        width: 70%;
        font-size: 16px;
    }

    .phone {
        width: 30%;
    }
}